.btnMoreInfo {
  width: 100px;
  background: linear-gradient(to right, #193355, #f8f9fa);
  border-radius: 0px 30px;
  border: none;
  color: whitesmoke;
  font-weight: 700;
}

.colorh1 {
  padding: 20px;
  background: linear-gradient(to right, #f8f9fa, #193355);
}
